{% extends 'gutigers/base.html' %}
{% load staticfiles %}

{% block body_block %}
  <div class="position-relative" style="min-height: 100vh">
    <div class="image-container position-absolute top-0 start-0 end-0 bottom-0"></div>
    <img src="{% static 'images/gutigers.jpg' %}" alt="Profile" class="position-absolute top-0 start-0 end-0 bottom-0 w-100 h-100" style="opacity:0.2"/>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8" style="margin-top: 5em;">
          <div class="table-responsive">
            <table class="table" id="league-table">
              <thead>
				<tr>
					<td colspan="10" class="table-header" style = "background-color:yellow; color: black">League Table</td>
				</tr>
                <tr>
                  <th>Position</th>
                  <th>Team</th>
                  <th>Played</th>
                  <th>Won</th>
                  <th>Drawn</th>
                  <th>Lost</th>
                  <th>F</th>
                  <th>A</th>
                  <th>Diff</th>
                  <th>WPct</th>
                </tr>
              </thead>
              <tbody>
                {% for team in teams %}
                <tr class="{% cycle 'even' 'odd' %}">
                  <td>{{ forloop.counter }}</td>
                  <td>{{ team.name }}</td>
                  <td>{{ team.played }}</td>
                  <td>{{ team.won }}</td>
                  <td>{{ team.drawn }}</td>
                  <td>{{ team.lost }}</td>
                  <td>{{ team.goals_for }}</td>
                  <td>{{ team.goals_against }}</td>
                  <td>{{ team.goal_difference }}</td>
                  <td>{{ team.points }}%</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
