{% extends 'gutigers/base.html' %}


{% block title_block %}
	Login
{% endblock %}

{% block body_block %}
<h1>Login</h1>
<br />
<div class="card bg-light mb-3" style="max-width: 40rem;">
  <div class="card-header">GuTigers</div>
  <div class="card-body">
    <h5 class="card-title">Login to GuTigers</h5>
    <p class="card-text">
		<form method="post">
			{% csrf_token %}
			{{ form.as_p}}
			<button type="submit" class="btn btn-outline-dark">Submit</button>
		</form>	
		<br />
		{% for message in messages %}
    
			<div class="alert alert-dark">
				{{ message }}				
			</div>

		{% endfor %}
	</p>
  </div>
</div>

{% endblock %}