{% extends 'gutigers/base.html' %}


{% block title_block %}
	Post
{% endblock %}

{% block body_block %}

<script defer="">{% include 'gutigers/components/comment.js' %}</script>
<div class="container">
			<article class="card mb-3">
				<div class="card-header">
							<h2>{{ post.title }}</h2>
							<p>{{ post.post_date }}</p>
				</div>
				<p class="card-body" style="min-height: 10rem;">{{ post.body }}</p>
			</article>
			<section>{% include 'gutigers/components/comment-section.html' %}</section>
</div>

{% endblock %}
