{% extends 'gutigers/base.html' %}


{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<h1>GUTigers Account Registration</h1>
{% if registered %}
<strong>You are registered!</strong>
<a href="{% url 'gutigers:login' %}">Login Now.</a><br />
{% else %}
<strong>Register Here</strong><br />
<form id="user_form" method="post" action="{% url 'gutigers:register' %}"
	enctype="multipart/form-data">
	
	{% csrf_token %}
	
	{{ user_form.as_p }}
	{{ profile_form.as_p }}
	
	<input type="submit" name="submit" value="Register" />
</form>
{% endif %}
	
{% endblock %}