{% extends 'gutigers/base.html' %}


{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<h1>GUTigers Account Registration</h1>
{% if registered %}
<strong>You are registered!</strong>
<a href="{% url 'gutigers:login' %}">Login here!</a><br />
{% else %}
<br />
<div class="card bg-light mb-3" style="max-width: 55rem;">
  <div class="card-header"><strong>Create Account</strong></div>
  <div class="card-body">
    <p class="card-text">
		<form id="user_form" method="post" action="{% url 'gutigers:register' %}"
			enctype="multipart/form-data">
		
			{% csrf_token %}
			
			{{ user_form.as_p }}
			{{ profile_form.as_p }}
			
			<button type="submit" class="btn btn-outline-dark">Register</button>
		</form>
	
	</p>
  </div>
</div>

{% endif %}
	
{% endblock %}