{% extends 'gutigers/base.html' %}


{% block title_block %}
	Settings
{% endblock %}

{% block body_block %}
		<h1>Change Account Info </h1>
		<div>
			<form id="UserForm" method="post" action="/gu_tigers/settings/">
			{% csrf_token %}
			{% for hidden in form2.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form2.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
				<input type="submit" name="submit" value="Change"+form2.label />
				<br></br>

			{% endfor %}
			</form>
		</div>


	
		<h1>Add Result</h1>
		<div>
			<form id="MatchForm" method="post" action="/gu_tigers/settings/">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
				<br></br>
			{% endfor %}
			<input type="submit" name="submit" value="Add Result" />
		</form>
		</div>

{% endblock %}