{% extends 'gutigers/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Team - {{team.name}}
{% endblock %}

{% block body_block %}
	<script defer="">{% include 'gutigers/components/comment.js' %}</script>
	<div class="container">
		<div class="row">
			<main class="col-8">
				{% include 'gutigers/components/profile-frame.html' with profile=profile %}
				<section>{% include 'gutigers/components/comment-section.html' %}</section>
			</main>
			<aside class="card col-3">
				<h3 class="card-header">Team News</h3>
				<div class="card-body" style="height: 40rem; overflow: scroll;">
				{% if posts %}
                <ul>
                    {% for post in posts %}
                    	<h5><a href="{% url 'gutigers:post' post.pk %}" style="text-decoration:none">{{ post.title }}</a></h5>
						<footer class="text-muted">{{ post.post_date }}</footer>
						<hr/>
                    {% endfor %}
                </ul>
           		{% else %}
                	<p>No posts to show.</p>
					<hr/>
            	{% endif %}
				<footer class="text-center text-muted">You have reach the end of all posts!</footer>
				</div>
			</aside>
		</div>
	</div>
{% endblock %}
