{% extends 'gutigers/base.html' %}

{% block title_block %}
	Team - {{team.name}}
{% endblock %}

{% block body_block %}
	<script defer="">{% include 'gutigers/components/comment.js' %}</script>
	<div class="container">
		<div class="row">
			<main class="col-8">
				{% include 'gutigers/components/profile-frame.html' %}
				<section>{% include 'gutigers/components/comment-section.html' %}</section>
			</main>
			<aside class="card col-4">
				<h3 class="card-title">Team News</h3>
				{% lorem 1 b random %}
			</aside>
		</div>
	</div>
{% endblock %}
