{% load staticfiles %}

{% if base or comment.children|length == 0 %}
  <article id="comment-main-{{comment.comment_id}}" class="card p-2 my-1"
      onclick="return false;" style="cursor: default;" data-id="{{comment.comment_id}}">
    <div class="card-title">
      {% with author=comment.author faction=comment.author.faction %}
        <a href="#" onclick="window.location.href = '{% url 'gutigers:user' comment.author.url_slug %}'"
            style="text-decoration: none;">
          <img src="{{MEDIA_URL}}{{comment.author.avatar}}" alt="{{author.name}}'s avatar"
              class="h5" style="width: 1em; height: 1em;"/>
          <h5 class="d-inline mx-2">{{author.name}}</h5>
        </a>
        <span class="badge rounded-pill text-bg-info ml-2">
          {{faction.name}} {{faction.type}}
        </span>
      {% endwith %}
      <span id="rating-count-{{comment.comment_id}}" style="color: {{comment.rating_color}}">
        ({{comment.rating}})
      </span>
    </div>
    <p class="card-body p-0">{{comment.body}}</p>
    <div class="comment-options">
      <a href="#" onclick="rate('{{comment.comment_id}}',
          '{% url 'gutigers:comment_vote' comment.comment_id %}', 'positive')"
          style="text-decoration: none; color: black;">
        <span id="vote-up-{{comment.comment_id}}"
            style="position: relative; top: 0.5rem; font-size: 2rem">↑</span>
      </a>
      <a href="#" onclick="rate('{{comment.comment_id}}',
          '{% url 'gutigers:comment_vote' comment.comment_id %}', 'negative')"
          style="text-decoration: none; color: black;">
        <span id="vote-down-{{comment.comment_id}}"
            style="position: relative; top: 0.5rem; font-size: 2rem">↓</span>
      </a>
      <a href="#" onclick="toggleReplyForm('{{comment.comment_id}}',
          '{% url 'gutigers:comment_reply' comment.comment_id %}');" style="text-decoration: none;">
        <img id="reply-btn-{{comment.comment_id}}" src="{% static 'images/comment/reply.png' %}"
            alt="Reply icon"/>
      </a>
      {% if comment.children|length != 0 %}
        <a id="expand-btn-{{comment.comment_id}}" href="#" onclick="expandComment(
            '{{comment.comment_id}}', null);" class="comment-expand-btn">
            Show replies
        </a>
      {% endif %}
    </div>
    <div id="reply-{{comment.comment_id}}" class="reply-box"></div>
  </article>
{% else %}
  <details id="comment-expandable-{{comment.comment_id}}" class="comment-parent">
    <summary>{% include 'gutigers/components/comment.html' with base=True %}</summary>
    <ul id="reply-list-{{comment.comment_id}}">
      {% for child_comment in comment.children %}
        <li>{% include 'gutigers/components/comment.html' with comment=child_comment %}</li>
      {% endfor %}
    </ul>
  </details>
{% endif %}
