<hr/>
<iframe id="cancel-redirect-{{comment_id}}" name="cancel-redirect" class="d-none"></iframe>
<form id="reply-form-{{comment_id}}" method="post" target="cancel-redirect" action="{{action_url}}">
  {% csrf_token %}
  {% for hidden in form.hidden_fields %}
    {{hidden}}
  {% endfor %}
  {% for field in form.visible_fields %}
    {{field.errors}}
    {{field.help_text|linebreaks}}
    {{field}}
  {% endfor %}
  <input type="submit" value="Send" class="d-block btn btn-success"
      onclick="submitForm('{{comment_id}}', '{{comment_url}}');"/>
</form>
